{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block body %}
    <section class="feature_area section_gap_top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="main_title">
						<h2 class="mb-3"> Apology </h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="main_title">
						<h2 class="mb-3"> {{ top }} </h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="main_title">
						<h4 class="mb-3"> {{ bottom }} </p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
