{% extends "layout.html" %}

{% block title %}Students change Password{% endblock %}

{% block body %}

    <section class="feature_area section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3"> Change Password</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <form action="/students_change_password" method="post">
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" name="old" placeholder="Old Password"
                                type="password">
                            </div>
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" name="new1" placeholder="New Password"
                                type="password">
                            </div>
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" name="new2" placeholder="Confirm Password"
                                type="password">
                            </div>
                            <div class="">
                                <button type="submit" class="primary-btn2  info-border generic-btn success-border circle-arrow btton-group-area mt-10">Change Password
                                    <span class="ti-arrow-right">
                              
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

{% endblock %}